<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/basic}">
<body>
<div layout:fragment="content">

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-3">
            <h1 class="display-5 fw-bold">P4D Panel</h1>
            <p class="col-md-8 fs-4">
                P4D
                <b> new application</b>.
            </p>
        </div>
    </div>
    <h2 class="pt-3 mt-4 border-top"></h2>
</div>
</body>
</html>