<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header ::html_headtag">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>P4D-Edit Products</title>

<!--    <link rel="stylesheet" href="../webjars/bootstrap/4.2.1/css/bootstrap.min.css"/>-->
<!--    <link rel="stylesheet" href="../css/main.css"/>-->

<!--    <link rel="stylesheet" th:href="@{../webjars/bootstrap/4.2.1/css/bootstrap.min.css}" type="text/css"/>-->
<!--    <link rel="stylesheet" th:href="@{../css/main.css}" type="text/css"/>-->



</head>

<body>
<div th:insert="fragments/header :: header"></div>

<div class="container my-5">
    <h3> Save Product</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">

                    <form enctype="multipart/form-data"
                            th:action="${allowDelete} ? @{/deleteProduct/{contactId}/delete(contactId=${product.productId})}
                        : @{/saveProduct/{contactId}/edit(contactId=${product.productId})}"
                          th:object="${product}" method="POST">
                    <div class="row">

                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Name</label> <input type="text" th:field="*{productName}" class="form-control" id="name" placeholder="Name"> <span th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="productDesc" class="col-form-label">Description</label>
                            <textarea  rows = "5" cols = "80" th:field="*{productDesc}" class="form-control" id="productDesc" placeholder="productDesc"/>
                            <span th:if="${#fields.hasErrors('productDesc')}" th:errors="*{productDesc}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="productType" class="col-form-label">Type</label>
                            <select id="productType" class="form-control" th:field="*{productType}">
                                <option th:each="option : ${productsList}" th:value="${option}" th:text="${option}"></option>
                            </select>
                        </div>

<!--                        <div class="form-group col-md-8">-->
<!--                            <label for="productType" class="col-form-label">Type</label>-->
<!--                            <input type="text" th:field="*{productType}" class="form-control" id="productType" placeholder="productType">-->
<!--                        </div>-->

                        <div class="form-group col-md-8">
                            <label for="productOrder" class="col-form-label">Order</label>
                            <input type="text" th:field="*{productOrder}" class="form-control" id="productOrder" placeholder="productOrder">
                        </div>



                        <div class="form-group col-md-8">
                            <label for="file" class="col-form-label">Image</label>
                            <input type="file" id="file" name="file" class="form-control-file">
                        </div>




                        <div class="col-md-6" th:if="${allowDelete}">
                            Delete this product?
                            <input type="submit" class="btn btn-primary" value="Delete Product">

<!--                            <form th:if="${allowDelete}" th:action="@{/deleteProduct/{contactId}/delete(contactId=${product.productId})}"-->
<!--                                  method="POST">-->
<!--                                Delete this product?-->
<!--                                <input type="submit" class="btn btn-primary" value="Delete Product">-->
<!--                            </form>-->


                        </div>

                        <div class="col-md-6" th:if="not ${allowDelete}">
                            <input type="submit" class="btn btn-primary" value="Save Product">
                        </div>


                        <div class="form-group col-md-8"></div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>